In [1]:
L1= [2,4,6,8]
L1

[2, 4, 6, 8]

In [3]:
T1 = 1,3,5,7
type(T1)

tuple

In [5]:
L2 = list(T1)
L2

[1, 3, 5, 7]

In [7]:
L2.append(6)
L2

[1, 3, 5, 7, 6, 6]

In [10]:
L2.pop(4)

6

In [11]:
L2.sort(reverse=True)
L2

[7, 5, 3, 1]

In [ ]:
list1 = [1,2,3]
list2 = [2,4,5]