In [2]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv

#from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
#from futures_sign import send_signed_request, send_public_request
import ccxt

In [3]:
# apiKey='XAFMCMVNBG4DYWT1' # внесите в кавычки ключ, полученный на сайте alphavantage.co

# interval_var = '5min'
# symbol='ETH'

# path='https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol='+symbol+'&market=USD&interval='+interval_var+'&apikey='+apiKey+'&datatype=csv&outputsize=full'

In [6]:
df = pd.read_csv(path)

In [7]:
df=df[::-1].reset_index()

In [8]:
df=df.drop(['index'],axis=1)

In [9]:
df

                                                   {
0                                                  }
1      "Information": "Thank you for using Alpha ...